<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload status</title>
    <meta
      name="description"
      content="FilePoint - File Sharing App for local use"
    />
    <meta name="author" content="" />

    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <section class="container">
      <section class="sidebar-container">
        <div class="logo"><img src="LOGO.png"/></div>
        <div class="qr-code">
          <div class="qr-code-main-background">
            <div class="qr-code-border">
              <div class="qr-code-image-background">
                <div class="qr-code-image">#####QRCODE#####</div>
              </div>
            </div>
          </div>
        </div>
        <div class="description">
          <p>Scan this QRcode with your mobile phone or any QRcode scanner to get the link or go to <a href="#####LINK#####">#####LINK#####</a>.</p>
        </div>
      </section>
      <section class="main-page">
        <section class="extra-container">
            <div>
            #####STATUS#####
            #####INFO#####
            </div>
        </section>
      </section>
    </section>
